.section {
  padding: 20px 20px 0 20px;
}

.transcribe-form {
  display: flex;
  flex-direction: column;

  textarea {
    resize: none;
  }
}

.transcribe-button {
  font-size: 40px;
  padding: 20px;
  margin-top: 20px;
}

.table-container {
  overflow-x: auto;
}

.files-list {
  width: 100%;
  min-width: 700px;
}

.reset-section {
  margin-top: 20px;
}

.player-section {
  margin-top: 20px;
}

.upload {
  display: none;
}

.min60 {
  min-width: 60px;
}

.min100 {
  min-width: 100px;
}

.app-logo {
  height: 60px;
  margin-top: 20px;
}

.mat-toolbar {
  background: white;
}

.extra {
  margin-bottom: 20px;
}

.refresh {
  display: flex;
  align-items: center;

  h4 {
    flex: 1;
  }
}
